

<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-items-center text-center">
            <div class="col-md">
                <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Logit Ltd</h2>
                <hr class="col-1 bg-light probootstrap-animate">
                <p class="lead mb-5 probootstrap-animate"><a href="" target="_blank" class="text-warning ">Логит OOД</a>, е логистична компаниия с фокус доставка на палети и групажни товари между България и Румъния. Компанията поддържа ежеднвна групажна линия между София и Букурещ и организира националната дистрибуция на палети в Румъния и България чрез логистичните си бази в Букурещ, София, Русе и Гюргево.</p>

            </div>
        </div>
    </div>

</section>
<!-- END section -->


@*<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
       
    </div>

</section>*@
<!-- END section -->