@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/chat/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">

</head>
<body class="bg-info">






    <div class="container">
        <h3 class="heading text-center">Чат система на фирма Logit</h3>
        <div class="messaging">
            <div class="inbox_msg">

                <div class="container">

                    <hr style="height: 3px;" class="bg-info rounded" />
                    <div class="mesgs">
                        <div class="msg_history">

                            <div id="messagesList" style="font-size: 14px;">




                                <div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <div id="messagesList" style="font-size: 14px;">

                                            @{ var culture1 = new System.Globalization.CultureInfo("bg-BG");
                                                var day1 = culture1.DateTimeFormat.GetDayName(DateTime.UtcNow.DayOfWeek);

                                                ApplicationUser currUser11 = await UserManager.GetUserAsync(User); }
                                            <span class="time_date pr-2">Вие сте логнат като:</span>
                                            <span class="time_date pr-2">@currUser11.UserName</span>
                                            <span class="time_date pr-2"> @DateTime.UtcNow.AddHours(2).ToString("H:mm") | @day1</span>
                                        </div>
                                    </div>
                                </div>


                                @*<div style="float: right; width: 70%; text-align: right;">texttexttexttexttexttexttexttexttext</div>*@







                                @*<div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>Test, which is a nsdassaSasaSsaSAsaSAsaSAsa SAsaSAsadfsafas fdsfdsfdsfdsfdsfdsfd sfdsfdsfdsfdsfsd approach to have</p>
                                            <span class="time_date"> 11:01 AM    |    Yesterday</span>
                                        </div>
                                    </div>
                                </div>*@



                                @*<div class="outgoing_msg">
                                    <div class="sent_msg">
                                        <p>Apollo University, Delhi, India Test</p>
                                        <span class="time_date"> 11:01 AM    |    Today</span>
                                    </div>
                                </div>*@


                                @*<div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>
                                                We work directly with our designers and suppliers,
                                                and sell direct to you, which means quality, exclusive
                                                products, at a price anyone can afford.
                                            </p>
                                            <span class="time_date"> 11:01 AM    |    Today</span>
                                        </div>
                                    </div>
                                </div>*@



                            </div>

                        </div>

                        <div id="message-holder" class="mt-3 mb-3 d-flex justify-content-start">
                            <h4></h4>
                            <input class="w-75 ml-4 pl-3" type="text" id="messageInput" placeholder="..." />
                            <button id="sendButton" class="ml-4 btn btn-dark text-white">Изпрати</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>


</body>
</html>









@section Scripts {
    <script>
        var connection =
            new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();

        connection.on("NewMessage",
            function (message) {
                var chatInfo = ` <div class="incoming_msg">
                                    <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                    <div class="received_msg">
                                        <div class="received_withd_msg">
                                            <p>${message.user} ${escapeHtml(message.text)}</p>
                                            <span class="time_date"> 11:01 AM    |    June 9</span>
                                        </div>
                                    </div>`;
                var answer = `  <div class="pb-3" style="float: right; width: 96%; text-align: right;">
                <div class="d-inline p-2 bg-primary text-white">${escapeHtml(message.text)}</div>
            </div>`;
                if (message.user != "joro_theXfiles@abv.bg") {
                    $("#messagesList").append(chatInfo);
                } else {
                    $("#messagesList").append(answer);
                }

            });

        $("#sendButton").click(function () {
            var message = $("#messageInput").val();
            connection.invoke("Send", message);
            $("#messageInput").val("");
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function escapeHtml(unsafe) {
            return unsafe
                .replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;");
        }</script>
}