

<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row pt-0 align-items-center text-center">
            <div class="col-md">
                <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Връзка с нас</h2>
                <hr class="col-md-11 bg-light probootstrap-animate">
                <div class="row pt-2">
                    <div class="col-md-6">
                        <img src="/img/logit_Coordinates.jpg" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-md-6">
                        <p class="text-left ">
                            <strong class="font-weight-bold">Адрес:</strong>
                            <span class="probootstrap-animate"> <br> гр. Мартен 7058, ул. Свети св. Кирил и Методий</span>
                        </p>
                        <p class="text-left">
                            <strong class="font-weight-bold">Работно време:</strong>
                            <span class="probootstrap-animate"> <br> От Понеделник до Петък - 8:00 - 20:00 <br> Събота и Неделя - Почивни дни </span>
                        </p>
                        <p class="text-left">
                            <strong class="font-weight-bold">Телефон: </strong>
                            <span class="probootstrap-animate"> <br>088 952 3711 </span>
                        </p>
                        <p class="text-left">
                            <strong class="font-weight-bold">Email: </strong>
                            <span class="probootstrap-animate"> <br>info@logit.bg </span>
                        </p>
                    </div>
                </div>
                <br>
                <p class="lead mb-5 probootstrap-animate">Hope u like it! another free template by <a href="https://uicookies.com/" target="_blank">uicookies.com</a> Under License <a href="https://uicookies.com/license" target="_blank">CC 3.0</a></p>
                <p class="probootstrap-animate">
                    <a href="https://free-template.co/" target="_blank" role="button" class="btn btn-primary p-3 mr-3 pl-5 pr-5 text-uppercase d-lg-inline d-md-inline d-sm-block d-block mb-3">More Templates Here</a>
                </p>
                </row>
            </div>
        </div>
    </div>

</section>

<!-- END section -->