@model OfferInputModel

<form class="pt-5 bg-danger">
</form>

<div>
    <partial name="_MyPartialView" model="Model" />
</div>
<div>
    <partial name="_MyPartialView" model="Model" />
</div>
<div>
    <partial name="_MyPartialView" model="Model" />
</div>