@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>Use this page to detail your site's privacy policy.</p>

    @this.Html.ActionLink("Home Page", "Index", "Home")

    <a asp-controller="Home" asp-action="Privacy">Privacy Page</a>
</div>