@model LogitWebApp.ViewModels.Register.RegisterInputModel

    <section class="probootstrap-cover overflow-hidden relative" style=" background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row  p-0">
                <div class="col-12">
                    <h1 class="text-light text-center">Регистрация</h1>
                    <hr class="col-3 bg-light">
                </div>

                <form asp-action="Register" class="row  p-0">
                    <div class="col-2"></div>
                   <div class="col-8">
                       <div class="row">
                           <div class="col">
                               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                               <div class="form-group">
                                   <label asp-for="Email" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="Email" class="form-control" />
                                   <span asp-validation-for="Email" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="Password" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="Password" class="form-control" />
                                   <span asp-validation-for="Password" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="ConfirmPassword" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="ConfirmPassword" class="form-control" />
                                   <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                               </div>
                           </div>
                           <div class="col">
                               <div class="form-group">
                                   <label asp-for="CompanyName" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="CompanyName" class="form-control" />
                                   <span asp-validation-for="CompanyName" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="Address" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="Address" class="form-control" />
                                   <span asp-validation-for="Address" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="Phone" class="control-label probootstrap_text-gray-300"></label>
                                   <input placeholder="+359" asp-for="Phone" class="form-control" />
                                   <span asp-validation-for="Phone" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="Fax" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="Fax" class="form-control" />
                                   <span asp-validation-for="Fax" class="text-danger"></span>
                               </div>
                           </div>
                           <div class="col">
                               <div class="form-group">
                                   <label asp-for="VatNumber" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="VatNumber" class="form-control" />
                                   <span asp-validation-for="VatNumber" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="Bulstat" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="Bulstat" class="form-control" />
                                   <span asp-validation-for="Bulstat" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="Manager" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="Manager" class="form-control" />
                                   <span asp-validation-for="Manager" class="text-danger"></span>
                               </div>
                               <div class="form-group">
                                   <label asp-for="Site" class="control-label probootstrap_text-gray-300"></label>
                                   <input asp-for="Site" class="form-control" />
                                   <span asp-validation-for="Site" class="text-danger"></span>
                               </div>
                           </div>
                       </div>
                   </div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col">
                        <div class="form-group text-black-50">
                            <input type="submit" value="Регистрирай" class="btn btn-warning" />
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>






@*@section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@
