<div class="bg-dark pt-5 pb-4"></div>

<div class="container probootstrap_mb-20">
    <div class="container pt-4  text-center pb-3">
        <h1 class="btn btn-warning ">За персонална оферта в територията на град @ViewBag.CityName моля свържете се с нас на телефон <div class="font-weight-bold">0888 12 12 12</div></h1>
    </div>
    <div class="text-center">
        <img class=" " src="/img/personalOffer.png" style="width:auto; height: 350px;" />
    </div>
</div>