@model LogitWebApp.ViewModels.ViewComponents.AllOrderedShipmentsViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="text-center text-white pt-3 pb-2  bg-dark">
    <h5> @Model.Message: <span class="">@Model.OrdersCount</span></h5>
</div>