@*Как се правят display template и edit template може да прочетеш тук https://exceptionnotfound.net/asp-net-mvc-demystified-display-and-editor-templates/
*@


@model System.DateTime

<span>
    @Model.ToString("dd/MM/yyyy")
</span>