@using LogitWebApp.ViewModels.Shared
@model ChangesApplied

<div class="bg-dark pt-5 pb-4"></div>

<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">
        <div class="row pt-0 align-items-center text-center">
            <div class="col-md">               
                <div class="row pt-2">

                    <partial name="_ChangesAppliedPartialView" , model="Model" />

                </div>
                <br>
            </div>
        </div>
    </div>
</section>


