@using LogitWebApp.ViewModels.Offer
@model AddressInputModel

<section class="probootstrap-cover overflow-hidden relative" style="        background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container">

        <div class="row align-items-center p-0">

            <div class="col probootstrap-animate">
                <form asp-controller="Orders" asp-action="Create" method="post" class="probootstrap-form">
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">

                                    <label class="mb-3" asp-for="LoadingName"></label>
                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingName" placeholder="Име/Фирма" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingName"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingPhone" placeholder="Телефон" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingPhone"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingEmail" placeholder="Email" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingEmail"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingStreet" placeholder="Улица" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingStreet"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingNumber" placeholder="№" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingNumber"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="mb-3" asp-for="UnloadingName">Адрес на разтоварване</label>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingName" placeholder="Име/Фирма" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingName"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingPhone" placeholder="Телефон" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingPhone"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingEmail" placeholder="Email" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingEmail"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingStreet" placeholder="Улица" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingStreet"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingNumber" placeholder="№" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingNumber"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="hidden" asp-for="ShipmentId" placeholder="@ViewBag.ShipmentId" value="@ViewBag.ShipmentId">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END row -->

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="form-group">
                                @*<label asp-for="Description"></label>*@
                                <textarea rows="5" asp-for="Description" placeholder="Допълнително описание" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger error-text-size"></span>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-5">
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="LoadingDate">Дата на товарене</label>
                                <input asp-for="LoadingDate" class="form-control">
                                <span asp-validation-for="LoadingDate" class="text-danger error-text-size"></span>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-1">
                            <div class="form-group">
                                <label asp-for="UnloadingDate">Дата на разтоварване</label>
                                <input asp-for="UnloadingDate" class="form-control">
                                <span asp-validation-for="UnloadingDate" class="text-danger error-text-size"></span>
                            </div>
                        </div>
                    </div>
                    <!-- END row -->
                    <div class="row pb-3">
                        <div class="col-md-7">
                        </div>

                        <div class="text-center col-md-5">
                            <input type="submit" value="Направи поръчка" class="text-center btn btn-warning btn-block ">
                        </div>

                        @*<div class="col-5 pt-5 text-center">
                                <div class="button-holder">
                                    <a href="/Orders/Create?shipmentId=@ViewBag.ShipmentId"  class="btn btn-success btn-block text-uppercase">Направи поръчка</a>
                                </div>
                            </div>*@

                    </div>

                </form>
            </div>
        </div>
    </div>

    @section Scripts
    {
        <partial name="_ValidationScriptsPartial" />
    }

</section>

