@using LogitWebApp.ViewModels.Offer
@model AddressInputModel

<section class="probootstrap-cover overflow-hidden relative" style="        background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class=""></div>
    <div class="container">

        <div class="row align-items-center p-0">

            <div class="col probootstrap-animate">
                <form action="/Orders/Create" method="post" class="probootstrap-form">
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">

                                    <label class="mb-3" asp-for="LoadingName">Адрес на товарене</label>
                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingName" placeholder="Име/Фирма" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingName"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingPhone" placeholder="Телефон" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingPhone"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingEmail" placeholder="Email" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingEmail"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingStreet" placeholder="Улица" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingStreet"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingNumber" placeholder="№" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingNumber"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="mb-3" asp-for="UnloadingName">Адрес на товарене</label>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingName" placeholder="Име/Фирма" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingName"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingPhone" placeholder="Телефон" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingPhone"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingEmail" placeholder="Email" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingEmail"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingStreet" placeholder="Улица" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingStreet"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingNumber" placeholder="№" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingNumber"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="hidden" asp-for="ShipmentId" placeholder="@ViewBag.ShipmentId" value="@ViewBag.ShipmentId">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END row -->

                    <div class="row mb-5">
                        <div class="col-md">
                            <div class="form-group">
                                <label for="probootstrap-date-departure">Ден на товарене</label>
                                <div class="probootstrap-date-wrap">
                                    <span class="icon ion-calendar"></span>
                                    <input type="text" id="probootstrap-date-departure" name="loadingDate" class="form-control" placeholder="Дата">
                                </div>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label for="probootstrap-date-arrival">Ден на разтоварване</label>
                                <div class="probootstrap-date-wrap">
                                    <span class="icon ion-calendar"></span>
                                    <input type="text" id="probootstrap-date-arrival" name="unloadingDate" class="form-control" placeholder="Дата">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END row -->
                    <div class="row">
                        <div class="col-7">

                        </div>

                        <div class="col-5">
                            <input type="submit" value="Направи поръчка" class="btn btn-success btn-block">
                        </div>

                        @*<div class="col-5 pt-5 text-center">
                                <div class="button-holder">
                                    <a href="/Orders/Create?shipmentId=@ViewBag.ShipmentId"  class="btn btn-success btn-block text-uppercase">Направи поръчка</a>
                                </div>
                            </div>*@

                    </div>

                </form>
            </div>
        </div>
    </div>

</section>