

<div class="container pt-5">
    <div class="row p-4 align-items-center">
        <div class="col-12 alert alert-success">
            <h3 class="text-center">Вие успешно добавихте поръчка с номер:
                <h3 class="text-center">@ViewBag.ShipmentId</h3></h3>
        </div>
    </div>
</div>