@using LogitWebApp.ViewModels.Shared
@model ChangesApplied

<div class="container pt-5">
    <div class="row p-4 align-items-center">
        <div class="col-12 bg-secondary rounded border border-dark">
            <h3 class="text-center pt-2">@Model.Message</h3>
            <h2 class="text-center">@Model.ShipmentId</h2>
            <h2 class="text-center">@Model.OrderId</h2>
        </div>
    </div>
</div>