

<div class="container pt-5">
    <form method="post" action="" class="pt-5">
        <input type="text" placeholder="age" name="age" />
        <button class="btn btn-success">Изпрати</button>
    </form>
</div>


<li class="single-meta" style="display: inline-block">
    <ul class="item-rating" style="display: inline-block">
        <span class="star-fill" data-vote="1"><i class="fas fa-star text-warning"></i></span>
        <span class="star-fill" data-vote="2"><i class="fas fa-star text-warning"></i></span>
        <span class="star-fill" data-vote="3"><i class="fas fa-star text-warning"></i></span>
        <span class="star-fill" data-vote="4"><i class="fas fa-star"></i></span>
        <span class="star-empty" data-vote="5"><i class="fas fa-star"></i></span>
        <span><span id="averageVoteValue">444444</span><span> / 5</span> </span>
    </ul>
</li>



<div class="single-recipe-layout1">

    <div class="row mb-4">
        <div class="col-xl-9 col-12">
            <ul class="entry-meta">


                <li class="single-meta" style="display: inline-block">
                    <ul class="item-rating">
                        <li class="star-fill" data-vote="1"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="2"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="3"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="4"><i class="fas fa-star"></i></li>
                        <li class="star-fill" data-vote="5"><i class="fas fa-star"></i></li>
                        <li><span id="averageVoteValue">444444</span><span> / 5</span> </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
    <div class="item-figure">
        <img class="img-fluid w-100" src="" alt="" />
    </div>
    <div class="item-feature">
        <ul>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="far fa-clock"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">PREP TIME</div>
                            <div class="feature-sub-title">dddd</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fas fa-utensils"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">COOK TIME</div>
                            <div class="feature-sub-title">Model.CookingTime.TotalMinutes Mins</div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">SERVING</div>
                            <div class="feature-sub-title">


                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="feature-wrap">
                    <div class="media">
                        <div class="feature-icon">
                            <i class="fa fa-list-ol"></i>
                        </div>
                        <div class="media-body space-sm">
                            <div class="feature-title">CATEGORY RECIPES</div>
                            <div class="feature-sub-title">Model.CategoryRecipesCount</div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<form method="post" id="antiForgeryForm"></form>
@section Scripts {
    <script>
        $("span[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var recipeId = Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { recipeId: recipeId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}

