<div class="container pt-5">
    <form method="post" action="" class="pt-5">
        <input type="text" placeholder="age" name="age" />
        <button class="btn btn-success">Изпрати</button>
    </form>
</div> 

