

<h1>@ViewBag.Info</h1>
<div class="container p-5"></div>
<form method="post" asp-controller="Test" asp-action="Index1">
    <input type="text" name="info" />
    <input type="submit" value="Submit" />
</form>

