@using LogitWebApp.Data.Models
@model List<Shipment>


    <div class="container pt-5">
        <div class="pt-5">
            <h1>Всички пратки</h1>
        </div>
        @Html.DisplayForModel()
    </div>



