
@using LogitWebApp.ViewModels.Drivers;
@model DeleteDriver

<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container p-5 ">
        <div class="pt-5">
            <div class="">
                <form method="post" asp-controller="Drivers" asp-action="DeleteDriver" class="row pt-5">

                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <label asp-for="@Model.Email" class="control-label probootstrap_text-gray-300"></label>
                        <input asp-for="@Model.Email" class="form-control" />
                        <span asp-validation-for="@Model.Email" class="text-white bg-danger"></span>
                    </div>
                    <div class="col-md-4"></div>

                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-4"></div>
                            <div class="col-md-4 pt-3 text-center">
                                <div class="form-group">
                                    <input type="submit" value="Изтрий" class="btn btn-warning" />
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </form>        
            </div>
        </div>
    </div>
    <div class="container p-5"></div>
</section>
<!-- END section -->