<div class="container pt-5">
    <div class="row p-4 align-items-center">
        <div class="col-12 alert alert-danger">
            <h3 class="text-center">Шофьор с подадените данни вече съществува в базата данни!</h3>
        </div>
    </div>
</div>