@using LogitWebApp.ViewModels.Drivers
@model AllShipmentsWithAddresses

<section class="probootstrap-cover overflow-hidden relative" style="        background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class=""></div>
    <div class="container">

        <div class="row align-items-center p-0">

            <div class="col probootstrap-animate">
                <form action="/Orders/Create" method="post" class="probootstrap-form">
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="form-group">

                                    <label class="mb-3" asp-for="LoadingAddress"></label>
                                    <div class="mb-3">
                                        <input type="text" readonly asp-for="LoadingAddress" class="form-control" method="post">

                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="Width" class="form-control" method="post">

                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="Length" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="Length"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="Height" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="Height"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="LoadingDate" placeholder="№" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="LoadingDate"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group">
                                    <label class="mb-3" asp-for="UnloadingAddress">Адрес на товарене</label>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingAddress" placeholder="Име/Фирма" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingAddress"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="UnloadingDate" placeholder="Телефон" class="form-control" method="post">
                                        <span class="text-danger error-text-size" asp-validation-for="UnloadingDate"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="CountOfPallets" placeholder="Email" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="CountOfPallets"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="Comment" placeholder="Улица" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="Comment"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="text" asp-for="Description" placeholder="№" class="form-control">
                                        <span class="text-danger error-text-size" asp-validation-for="Description"></span>
                                    </div>

                                    <div class="mb-3">
                                        <input type="hidden" asp-for="Id" placeholder="@ViewBag.ShipmentId" value="@ViewBag.ShipmentId">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END row -->

                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="form-group">
                                <textarea rows="5" asp-for="Description" placeholder="Допълнително описание" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger error-text-size"></span>
                            </div>
                        </div>
                    </div>

                    @*<div class="row mb-5">
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="LoadingDate">Дата на товарене</label>
                                <input asp-for="LoadingDate" class="form-control">
                                <span asp-validation-for="LoadingDate" class="text-danger error-text-size"></span>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-group">
                                <label asp-for="UnloadingDate">Дата на разтоварване</label>
                                <input asp-for="UnloadingDate" class="form-control">
                                <span asp-validation-for="UnloadingDate" class="text-danger error-text-size"></span>
                            </div>
                        </div>
                    </div>*@
                    <!-- END row -->
                    <div class="row pb-3">
                        <div class="col-md-7">
                        </div>

                        <div class="text-center col-md-5">
                            <input type="submit" value="Направи поръчка" class="text-center btn btn-success btn-block ">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
