@using LogitWebApp.ViewModels.Drivers
@model DriverInputModel  

    <section class="probootstrap-cover overflow-hidden relative" style=" background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
        <div class="overlay"></div>
        <div class="container">
            <div class="row p-0">
                <div class="col-12 text-center">
                    <h1 class="probootstrap_text-gray-600" >Регистрация на шофьор</h1>
                    <hr class=" col-1 bg-light">
                </div>
            </div>

            <form asp-action="Register" class="row pt-3 pb-5 align-items-center ">
                <div class="col-md-4">

                </div>

                <div class="col-4">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label probootstrap_text-gray-300">Име</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-white bg-danger "></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label probootstrap_text-gray-300">Фамилия</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-white bg-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label probootstrap_text-gray-300">Телефонен номер</label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-white bg-danger"></span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-6 pt-3">
                            <div class="form-group">
                                <input type="submit" value="Регистрирай" class="btn btn-warning" />
                            </div>
                        </div>
                    </div>


                </div>
               
            </form>

        </div>
    </section>

