<div class="container p-5 ">
    <div class="pt-5">
        <div class="row pb-5 align-items-center border border-dark bg-light rounded">
            <div class="col-6 pt-5 text-center">
                <a href="/Drivers/All" class="btn btn-success">Всички пратки</a>
            </div>
            <div class="col-6 pt-5 text-center">
                <a href="/Drivers/MyShipments" class="btn btn-success">Мои пратки</a>
            </div>
        </div>
    </div>
</div>