


<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container p-5 ">
        <div class="pt-5">
            <div class="row pb-5 align-items-center border border-dark bg-light rounded">
                <div class="col-6 pt-5 text-center">
                    <a href="/Drivers/All" class="btn btn-dark">Всички пратки</a>
                </div>
                <div class="col-6 pt-5 text-center">
                    <a href="/Drivers/MyShipments" class="btn btn-dark">Мои пратки</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-5"></div>
</section>
<!-- END section -->
