@using LogitWebApp.ViewModels.Shared
@model ChangesApplied

<div class="bg-dark pt-5 pb-4"></div>

<section class="probootstrap-cover overflow-hidden relative" style="background-image: url('/img/bg_1.jpg');" data-stellar-background-ratio="0.5" id="section-home">
    <div class="overlay"></div>
    <div class="container pш-5 ">
        <div class="">
            <partial name="_ChangesAppliedPartialView" , model="@Model" />
        </div>
    </div>
    <div class="container p-5"></div>
</section>
<!-- END section -->
