.joro {
    margin-top: 10px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.no-bullets {
    list-style: none;
}

.form-control-joro {
    min-height: 0;
    height: 33px;
    display: inline;
}

.ptmtJoro {
    padding-top: 3px;
    margin-bottom: 2px;
}

.to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    background: #ffc107;
    bottom: 20px;
    right: 25px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 32px;
    box-shadow: 0 0 7px #D6D6D6;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

    .to-top.active {
        bottom: 20px;
        pointer-events: auto;
        opacity: 1;
    }

html {
    scroll-behavior: smooth;
}


.msgcount {
    border-radius: 50%;
    color: #151515;
    font-weight: 800;
    font-size: 15px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    box-shadow: 0 0 3px #D6D6D6;
}

.msgInside {
    border-radius: 50%;
    color: white;
    font-weight: 800;
    font-size: 15px;
    padding: 8px;
    margin: 0px;
    background-color: blue;
    display: inline-block;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    box-shadow: 0 0 7px #D6D6D6;
}

.messagingJP {
    margin: 12px;
    box-shadow: 0 0 7px #D6D6D6;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #ffc107;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}

    #footer .footer-top {
       
        border-bottom: 1px solid #222222;
        padding: 60px 0 30px 0;
    }

        #footer .footer-top .footer-info {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-info h3 {
                font-size: 28px;
                margin: 0 0 20px 0;
                padding: 2px 0 2px 0;
                line-height: 1;
                font-weight: 700;
                text-transform: uppercase;
            }

                #footer .footer-top .footer-info h3 span {
                    color: #ffc451;
                }

            #footer .footer-top .footer-info p {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 0;
                font-family: "Raleway", sans-serif;
                color: #fff;
            }

        #footer .footer-top .social-links a {
            font-size: 18px;
            display: inline-block;
            background: #292929;
            color: #fff;
            line-height: 1;
            padding: 8px 0;
            margin-right: 4px;
            border-radius: 4px;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
        }

            #footer .footer-top .social-links a:hover {
                background: #ffc451;
                color: #151515;
                text-decoration: none;
            }

        #footer .footer-top h4 {
            font-size: 16px;
            font-weight: 600;
            color: #fff;
            position: relative;
            padding-bottom: 12px;
        }

        #footer .footer-top .footer-links {
            margin-bottom: 30px;
        }

            #footer .footer-top .footer-links ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }

                #footer .footer-top .footer-links ul i {
                    padding-right: 2px;
                    color: #ffc451;
                    font-size: 18px;
                    line-height: 1;
                }

                #footer .footer-top .footer-links ul li {
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                }

                    #footer .footer-top .footer-links ul li:first-child {
                        padding-top: 0;
                    }

                #footer .footer-top .footer-links ul a {
                    color: #fff;
                    transition: 0.3s;
                    display: inline-block;
                    line-height: 1;
                }

                    #footer .footer-top .footer-links ul a:hover {
                        color: #ffc451;
                    }

        #footer .footer-top .footer-newsletter form {
            margin-top: 30px;
            background: #fff;
            padding: 6px 10px;
            position: relative;
            border-radius: 4px;
        }

            #footer .footer-top .footer-newsletter form input[type="email"] {
                border: 0;
                padding: 4px;
                width: calc(100% - 110px);
            }

            #footer .footer-top .footer-newsletter form input[type="submit"] {
                position: absolute;
                top: 0;
                right: -2px;
                bottom: 0;
                border: 0;
                background: none;
                font-size: 16px;
                padding: 0 20px;
                background: #ffc451;
                color: #151515;
                transition: 0.3s;
                border-radius: 0 4px 4px 0;
            }

                #footer .footer-top .footer-newsletter form input[type="submit"]:hover {
                    background: #ffcd6b;
                }

    #footer .copyright {
        text-align: center;
        padding-top: 30px;
    }

    #footer .credits {
        padding-top: 10px;
        text-align: center;
        font-size: 13px;
        color: #fff;
    }


.btn_admin {
    padding: 5px 5px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .15em;
    font-weight: 400;
    border-radius: 3px;
}

