.joro {
    margin-top: 10px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}

.no-bullets {
    list-style: none;
}

.form-control-joro {
    min-height: 0;
    height: 33px;
    display: inline;
}

.ptmtJoro{
    padding-top: 3px;
    margin-bottom: 2px;
}
